In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [39]:
df = pd.read_csv('Github_Indian_Users_Deep_Data.csv')
df.columns = df.columns.str.lower().str.replace(' ', '_')
del df['name']
df.head()

,username,joining_year,repositories,last_year_contributions,achievements_num,stars,followers,followings,has_readme,works_for,status,location,language,gender_pronoun
0,SumithSPrince,2021,1.0,2.0,0.0,0.0,0.0,1.0,False,NaN,NaN,"Bangalore, India",Java,he/him
1,infysumanta,2018,445.0,623.0,5.0,87.0,9.0,38.0,True,NaN,Focusing,"Kolkata, India",Java,NaN
2,codingwithkrish,2021,37.0,204.0,6.0,9.0,6.0,8.0,True,Synkrama,NaN,India,Java,NaN
3,anirbanbose401,2023,3.0,2.0,0.0,0.0,0.0,3.0,False,Institute of Technical Education and Research,NaN,India,Java,he/him
4,neilrehani101,2021,29.0,6.0,0.0,0.0,0.0,3.0,False,NaN,NaN,India,Python,he/him

Cleanup and EDA

In [48]:
df.isnull().sum()

username                   0
joining_year               0
repositories               0
last_year_contributions    0
achievements_num           0
stars                      0
followers                  0
followings                 0
has_readme                 0
works_for                  0
status                     0
location                   0
language                   0
gender_pronoun             0
dtype: int64

In [46]:
df['gender_pronoun'].unique()
#df['joining_year'].unique()

array(['he/him', nan, 'Gentleman/Wiseman', 'she/her', 'they/them',
       'PhD (Mathematics)', 'Techie', 'The one', '?V', 'Shivam',
       'bit/bits', 'Little Codr', 'ShaksZ', 'phenol', 'He/Him', 'Him',
       'Just a Tech', 'Go/TypeScript/Powershell', 'He/Him/His',
       'You can do it ?', 'Nayeem', 'SSL/SSO', 'Σ', 'Mr.', 'coder',
       'bro/bhai', 'Batman/Bateman', 'if/else', 'he', 'Thar/kuri',
       'bat/man', 'Mritunjay Kumar', 'roro', 'insaan', 'she/her/they',
       'Pengwin/Penglose', 'MR', 'Arch BTW', 'Mr', 'Nanya',
       'White Power Ranger', 'Attack Helicopter', 'Rocket/Raccoon',
       'CodeholiC', 'Developer', 'He/Him • Programmer + Gamer',
       'King/God', '~Hack3r_Oneness is Active on Internet'], dtype=object)

In [47]:
unknown_for_na_columns = ['username', 'works_for', 'status', 'location', 'language']
for col in unknown_for_na_columns:
    df[col].fillna('unknown', inplace=True)
zero_for_na_columns = ['repositories', 'last_year_contributions', 'achievements_num', 'stars', 'followers', 'followings']   
for col in zero_for_na_columns:
    df[col].fillna(0, inplace=True) 
df['joining_year'].fillna(2024, inplace=True)
df['has_readme'].fillna('FALSE', inplace=True)
df['gender_pronoun'].fillna('they/them', inplace=True)

In [49]:
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)
len(df_train), len(df_val), len(df_test)

(6072, 2025, 2025)

In [50]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
y_train = df_train.stars.values
y_val = df_val.stars.values
y_test = df_test.stars.values

del df_train['stars']
del df_val['stars']
del df_test['stars']

One-hot encoding

In [51]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=True)




train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

Training linear regression

In [53]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared=False)

8.02891593857826